{% extends 'backend/backend.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block content %}
<h2 >Search A Reclamation !</h2>

<div class="container">


    <form class="w-search">
        <div class="sidebar-search">

            <div class="input-group custom-search-form">

                <input type="text" id="search" class="form-control pl-3" placeholder="Search here">
            </div>
            <!-- /input-group -->
        </div>
        <ul class="nav" id="side-menu">
            <li>
                <a href="#"><span class="fa arrow"></span></a>
                <ul  class="nav " id="entitiesNav">
                </ul>
            </li>
        </ul>



    </form>

    <div class="card-header">
        <a class="btn btn-block btn-success" href="{{ path('list_reclamationfrontASC') }}" >Order By nomr  asc </a>
        <a class="btn btn-block btn-success" href="{{ path('list_reclamationfrontDESC') }}" >Order By nomr Desc </a>
    </div>
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Idreclamation</th>
            <th>Nomr</th>
            <th>Sujetr</th>
            <th>Dater</th>
            <th>User</th>

        </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.idreclamation }}</td>
                <td>{{ reclamation.nomr }}</td>
                <td>{{ reclamation.sujetr }}</td>
                <td>{{ reclamation.dater }}</td>
                <td>{{ reclamation.user }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reclamation_new') }}">Create new</a>
    <script src="{{ asset('backend/plugins/jquery/jquery.js') }}"></script>
    <script>
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#search").keyup(function() {
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('ajaxsearch') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            //we need to check if the value is the same
                            if (value===$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key === 'reclamation') {
                                            if (id !== 'error') {
                                                console.log(value);
                                                entitySelector.append('<li>' +
                                                    '<h5><b>  '+value[0]+  '</b></h5>')   ;
                                            } else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>


{% endblock %}
