{% extends 'backend/backend.html.twig' %}

{% block title %}Attestation index{% endblock %}

{% block content %}
    <h1>Attestation index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Typea</th>
            <th>Languea</th>
            <th>Datea</th>
            <th>User</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for attestation in attestations %}
            <tr>
                <td>{{ attestation.id }}</td>
                <td>{{ attestation.typea }}</td>
                <td>{{ attestation.languea }}</td>
                <td>{{ attestation.datea }}</td>
                <td>{{ attestation.user }}</td>
                <td>
                    <a href="{{ path('attestation_show', {'id': attestation.id}) }}">show</a>
                    <a href="{{ path('attestation_edit', {'id': attestation.id}) }}">edit</a>
                    <a href="{{ path('contact') }}">demander attestation</a>
                    <a href="{{ path('pdf') }}">pdf</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('attestation_new') }}">Create new</a>
{% endblock %}
