{% extends 'frontend/frontheaderfooter.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block content %}
    <h1>Livre index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nomlivre</th>
            <th>Auteurlivre</th>
            <th>Prixlivre</th>
            <th>Contenu</th>
            <th>Quantitelivre</th>
            <th>Imagelivre</th>

        </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.nomlivre }}</td>
                <td>{{ livre.auteurlivre }}</td>
                <td>{{ livre.prixlivre }}</td>
                <td>{{ livre.contenu }}</td>
                <td>{{ livre.quantitelivre }}</td>
                <td>{{ livre.imagelivre }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('livre_new') }}">Create new</a>
{% endblock %}
